@import '../core/swiper-3.3.1.min.css';
.diff-all{
    background: #f8f8f8;
    width: 100%;
    height: 100%;
     @include flexbox();
  @include flex-direction(column);
    header{
        width: 100%;
        height: .4rem;
        background: #ed3269;
         @include flexbox();
         @include align-items(center);
        @include justify-content(center);
        input{
            height: .30rem;
            width: 90%;
           text-align: center;
           color: #bfbfbf;
            border: 0px;
            border-radius: .03rem;

        }
    }
    nav{
        background: #fff;
         font-size: .14rem;
        width: 100%;
        height: .46rem;
        border-bottom: 1px solid #f3f3f3;
         ul {
      width: 100%;
      height: 100%;
      @include flexbox();
      li {
         color: #6d6d6d;
        @include flex();
        height: 100%;
        text-align: center;
        line-height: .46rem;
        @include box-sizing(border-box);
        &.active {
          border-bottom: solid 0.02rem $base-color;
           @include flex();
           color: $base-color;
        }
      }
    }
    }
    section{
         background: #fff;
         @include flex();
          width: 100% ;
          overflow: hidden;
    div{
        width: 100%;
        height: 100%;
        ul{

               width: 100%;
              height:.93rem;
               @include flexbox();
                border-bottom: .01rem solid #e4e4e4;
          &:nth-child(5){
             border-bottom:0;
          }
            li{  @include flex();
                @include flexbox();

              > div {


                   @include flex(5);
                   padding-left: .1rem;
                   b{
                       font-size: .14rem;
                     display: block;
                       width: 100%;
                       height: .35rem;
                       line-height: .35rem;
                        margin-top: .2rem;
                   }
                   div{
                       width: 100%;
                      @include flexbox();
                      span{
                        margin-right: .03rem;
                       font-size: .12rem;
                       color: #d5d5d5;
                       &:last-child{
                           margin-right: 0;
                       }
                   }
                   }

               }

             i { margin: auto;
                    @include flex(4);
                    img{

                        text-align: center;
//                      display: block;
                        width: 100%;
                        height: .63rem;

                  }
               }
            }

        }
        >p{
            width: 100%;
            height: .07rem;
            background: #f8f8f8;
        }
        >div{
            width: 100%;
//          height: 2.4rem;
           padding-bottom: .06rem;
            img{
                width: 100%;
                 height: 2.4rem;
            }

        }
    }
    #swiper-right{
      background: red;
      width: 100%;
      height: 100%;
    }
    }
}
