.shop-index{
  width: 100%;
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  header{
    width:100%;
    height: .44rem;
    background: $base-color;
    ul{
 @include flexbox();
      li{
         &:first-child{
           @include flex(1);
             @include flexbox();
           @include align-items(center);
           @include justify-content(center);
           img{
             display: block;
             width: .25rem;
             height: .23rem;
           }
         }
         &:nth-child(2){
           @include flex(6);
           text-align: center;
           line-height: .44rem;
           color: #fff;
           font-size: .18rem;
         }
         &:last-child{
           @include flex(1);
         }
      }
    }
  }
  section{
    background: #fff;
   @include flex();
  width: 100% ;
  overflow: hidden;
  .empty{
    width: 100%;
    height: 1.37rem;
  }
  .car-img{
    width: 100%;
    height: 1.07rem;
    @include flexbox();
  @include align-items(center);
  @include justify-content(center);
    img{
      height: 1.11rem;
      width: 1.06rem;


    }
  }
  p{
    width: 100%;
    height: .42rem;
    line-height: .42rem;
    text-align: center;
    color: #818181;
  }
  .tiao{
    @include flexbox();
  @include align-items(center);
  @include justify-content(center);
    input{
      width: .94rem;
      height: .32rem;
      background: #fff;
      color: #ee698e;
      border: .01rem solid #ee698e;
      border-radius: .05rem;
    }
  }

  }
  footer{
    width: 100%;
    height: .56rem;
    background: $base-color;
    position: relative;
    z-index: 99999;
    ul{
        @include flexbox();

      li{
        color: #fff;
        &:first-child{
          text-align: center;
          line-height: .56rem;
            @include flex(6);
            background: #333333;
        }
        &:nth-child(2){
            @include flex(2);
              background: #333333;
        }
        &:nth-child(3){
          text-align: center;
          line-height: .56rem;
            @include flex(5);
              background: $base-color;
        }
      }
    }
  }
}
